.clear{
    clear: both;
    display: block;
}

#headerRow{
    background-color: #20315a;
    color: white;
    width: 100%;
    height: 150px;
    margin-bottom: 75px;
}

#headerText{
    margin: auto;
}

h2{
    background-color: #20315a;
    color: white;
}

#searchDiv{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 100%;
    padding: 5px;
}

#resultsRow{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 100%;
    height: ;
    padding: 5px;
}

#resultsHeader{
    width: 100%;
    background-color: #20315a;
    padding: 5px;
}